.awards-page {
  background-color: var(--color-background);
  height: 100vh;
  padding: 60px 20px 100px;
}

.awards-page h2 {
  margin: 0;
  font-family: Sora SemiBold;
}

.awards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-top: 30px;
}

.award-item {
  background-color: var(--color-black);
  padding: 20px;
  color: var(--color-white);
  width: 100%;
  height: 23.5vh;
  border-radius: 5px;
}

.emmys {
  background-image: url('../images/emmys.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grammys {
  background-image: url('../images/grammys.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.oscars {
  background-image: url('../images/oscars.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}