/* mobile portrait */
.bg-home {
    background-image: linear-gradient(to bottom, #18181866, #18181866), url('../images/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
}

.home-container {
    background-color: #181818;
    height: auto;
}

.home-welcome {
    border-left: 2px solid var(--color-white);
    margin: 60vh 15px 10px;
    padding: 5px 20px;
}

.home-welcome h1,
.home-welcome>h1:nth-child(1)>span:nth-child(1) {
    color: var(--color-white);
    font-family: Sora SemiBold;
    margin-bottom: 10px;
}

.home-welcome>p:nth-child(2) {
    font-size: 15px;
}

.award-header {
    color: rgb(201, 134, 73);
    margin-top: 50px;
    margin-top: 0;
}

.fa-chevron-down {
    display: flex;
    justify-content: center;
    color: var(--color-grey-2);
    padding: 10px;
}

.award-countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.countdown {
    padding: 5vh 30px 20vh 30px;
    box-sizing: border-box;
    background-color: #181818;
}

.award-countdown {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow:
        0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
}

.betHeader {
    font-size: 14px;
    font-family: Sora SemiBold;
}

.betChoice {
    font-size: 14px;
    color: rgb(158, 158, 158);
}

/* .days div,
.hours div,
.minutes div,
.seconds div {
    color: var(--color-grey);
    font-size: 14px;

} */

.days p,
.hours p,
.minutes p,
.seconds p {
    color: var(--color-grey-5);
    font-size: 14px;
    font-family: Sora SemiBold;
    padding-bottom: 10px;
    margin: 0;
}

.days div,
.hours div,
.minutes div,
.seconds div {
    color: var(--color-grey-4);
    font-size: 14px;
}

.home-logout-button {
    visibility: hidden;
}

/* tablet portrait */
@media only screen and (min-width: 600px) {
    .home-content {
        margin-left: 8%;
    }

    .home-welcome {
        margin: 150px 15px 20px;
    }

    .bg-home {
        height: 45vh;
        background-image: linear-gradient(to bottom, #18181846, #181818), url('../images/bg-home.jpg');
    }

    .home-container {
        height: 100vh;
    }

    .countdownTimers {
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .oscars-grammys {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        flex-grow: 2;
    }

    .arrow {
        display: none;
    }

    .award-header {
        padding-top: 0;
    }

    .countdown {
        padding: 30px;
    }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
    .home-content {
        margin-left: 14%;
    }

    .bg-home {
        height: 38vh;
        background-image: linear-gradient(to bottom, #18181846, #181818), url('../images/bg-home.jpg');
    }

    .countdownTimers {
        display: flex;
        flex-direction: column;
        width: 65%;
    }

    .oscars-grammys {
        display: flex;
        flex-direction: column;
    }

    .countdownTimers>.timers>.award-countdown:first-of-type {
        gap: 50px;
    }

    .arrow {
        display: none;
    }
}
