body {
    width: 100vw;
    margin: 0;
}

main {
    width: 100%;
}

ul, ol {
  list-style: none;
}

a, img {
  border: 0;
}

button {
  border: none;
  padding: 0;
}

header, main, nav {
  display: block;
}

input {
    border: none;
    border-bottom: 1px solid #B6B6B6;
}

button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
}
