/* mobile portrait */
.login-page {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
}

.login-welcome p {
  color: var(--color-grey);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
    margin: 20px 0;
    padding-bottom: 10px;
}

.go-to-home-page {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.sign-up-from-login {
  text-align: center;
}

.sign-up-from-login button {
  padding: 0;
}

.sign-up-from-login {
  color: var(--color-grey);
}

.message-login {
  color: var(--color-red);
  padding-bottom: 30px;
}

.go-to-welcome-page {
  width: 35px;
}

/* tablet portrait */
@media only screen and (min-width: 600px) {
  .goldenbet {
    display: block;
  }

  .login-container {
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .blurred-background-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), linear-gradient(to bottom, rgba(30, 87, 153, 0.4), transparent),url('../images/bg-welcome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
    transform: scale(1.1);
  }

  .go-to-welcome-page {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
  .login-page {
    height: 50%;
    align-items: center;
  }

  .goldenbet {
    position: absolute;
    top: 12%;
    font-size: 40px;
    margin: 0;
  }

  .login-welcome {
    width: 80%;
  }

  .login-form {
    width: 80%;
  }

  .sign-up-from-login {
    width: 80%;
  }
}
