.login-page {
  padding: 30px;
  background: linear-gradient(rgb(33, 61, 86), rgb(0, 0, 0));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-welcome p {
  color: var(--color-grey);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
    margin: 20px 0;
    padding-bottom: 10px;
}

.go-to-home-page {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.sign-up-from-login {
  text-align: center;
}

.sign-up-from-login button {
  padding: 0;
}

.sign-up-from-login {
  color: var(--color-grey);
}

.message-login {
  color: var(--color-red);
}
