.profileButtons{
    display: flex;
    gap: 10px;
}
.profileButtons>div{
    background-color: orange;
    padding: 10px;
}
.active:hover{
    cursor:default;
}
.profilePicture{
    width: 30%;
    border-radius: 15px;
}